body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;

    color: #4e004e;
}

#nav-header {
    padding-top: 30px;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    color: white;
    border-bottom: 3px solid white;
    margin: auto;
}

#sidebar {
    /* background: #f8f4f8; */
    /* background: linear-gradient(70deg, #5e075e 0%, #a000a0 100%); */
    /* background: conic-gradient(from 340deg at 0% 0%, #5e075e, #a000a0 200deg); */

    /*border-right: 3px solid #a000a0; */
    border-right: 3px solid #4e004e;

    flex-basis: 20rem;
    flex-grow: 1;

    /* margin-left: 20px; */
    font-size: 1.6rem;
    color: white;
    background: #5e075e;
}

#sidebar ul {
    padding: 30px 20px;
    list-style: none;
}

#sidebar li {
    padding: 10px 20px;
}

#content {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
    padding: 20px;
}

h1 {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 3px solid #5e075e;
    margin: 20px auto;
}


/* hr {
    border-top: 3px solid #5e075e;
} */

blockquote {
    white-space: pre-wrap;
}

#content-box-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.content-box {
    border: 2px solid #a000a0;
    /* width: fit-content; */
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    background: #FFF9FF;
}

.content-box h3 {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 2px solid #5e075e;
    margin: 20px auto;
}

.content-box-content {
    flex-grow: 1;
}

.content-box-footer {
    text-align: right;
}

h3 a {
    text-decoration: none;
}


a {
    color: #33075E;
}

#sidebar a {
    text-decoration: none;
    color: white;
}

hr {
    border-color: #5e075e;
}
