<html>
<title>Calendar Reminders</title>
<meta charset="utf-8">
<style>
    {% include "base.css" %}

    form {
        max-width: 500px;
    }

    input[type="text"], input[type="password"] {
        width: 100%;
    }
</style>

<script>
{% include "base.js" %}

</script>

<body>
    {% include "sidebar.html" %}

    <div id="content">

        <h1>Change Password</h1>

        {% if form_state == "saved" %}
        <p><b>Saved!</b></p>
        {% elif form_state == "wrong_password" %}
        <p><b>Wrong password.</b></p>
        {% elif form_state == "password_mismatch" %}
        <p><b>Passwords did not match.</b></p>
        {% endif %}

        <form method="post">
           <p>Old Password:
                <input type="password" name="old_password" placeholder="Password"/></p>

            <p>New Password:
                <input type="password" name="new_password" placeholder="Password"/></p>

            <p>Confirm Password:
                <input type="password" name="confirm_password" placeholder="Password"/></p>

            <p><input type="submit" value="Change Password" formaction="/change_password" /></p>
        </form>


    </div>
</body>

</html>
