<html>
<title>Calendar Reminders</title>
<meta charset="utf-8">
<style>
    {% include "base.css" %}
</style>

<script>
{% include "base.js" %}
</script>

<body>
    {% include "sidebar.html" %}

    <div id="content">
        <div id="event-info">
            <h1>{{ event.summary }}</h1>

            <p><b>Next date:</b> <span class="datetime">{{ event.next_dates[0] }}</span></p>

            {% if event.location %}<p><b>Location:</b> {{ event.location }}</p>{% endif %}

            {% if event.description %}
            <p><b>Description:</b></p>
            <blockquote>{{ event.description }}</blockquote>
            {% endif %}

        </div>

        <hr/>


        <h3>Reminders</h3>

        <div id="reminders">

        <p><a href="/event/{{ calendar_id }}/{{ event.event_id }}/new_reminder">Add reminder</a></p>

        {% if reminders %}
            <ul>
            {% for reminder in reminders %}
                <li>{{ reminder.minutes_before }} minutes before in <code>{{ reminder.room_id }}. <a href="/event/{{ reminder.calendar_id }}/{{ event.event_id }}/reminder/{{ reminder.reminder_id }}">Edit</a></code>
            {% endfor %}
            </ul>
        {% else %}
            No reminders.
        {% endif %}

        </div>

    </div>
</body>

</html>
