<!DOCTYPE html>
<html>
<title>Calendar Reminders</title>
<meta charset="utf-8">
<style>
    {% include "base.css" %}
</style>

<script>
{% include "base.js" %}

</script>

<body>
    {% include "sidebar.html.j2" %}

    <div id="content">

        <h1>Calendars</h1>

        {% for calendar in calendars %}
        <p>
        Name: {{ calendar.summary }}<br />
        Description: {{ calendar.description }}<br />
        ID: {{ calendar.id }}<br />
        {% if calendar.have_added_to_calbot %}
        (Already added)
        {% else %}
        <form method="post">
            <input type="hidden" name="google_id" value="{{ calendar.id }}" />
            <input type="hidden" name="name" value="Google — {{ calendar.summary }}" />
            <input type="hidden" name="account_id" value="{{ account_id }}" />
            <input type="submit" value="Add" formaction="/calendar/new_oauth2" />
        </form>
        {% endif %}
        </p>
        {% endfor %}

    </div>
</body>

</html>
