<html>
<title>Calendar Reminders</title>
<meta charset="utf-8">
<style>
    {% include "base.css" %}
</style>

<script>
{% include "base.js" %}

</script>

<body>
    {% include "sidebar.html.j2" %}

    <div id="content">

        <h1>Google Accounts</h1>

        <p>
        <a href="/add_google_account">Add or refresh a Google account</a>
        </p>

        {% for account in accounts %}
        <p>
            Account ID: {{ account.account_id }}<br />
            {% if calendar.have_added_to_calbot %}
            <font color="red"><b>(Re-authentication required! <a href="/add_google_account">Click here</a>)</b></font><br />
            {% else %}
            <a href="/google_calendars?account_id={{ account.account_id }}">Calendars</a>
        </p>
        {% endfor %}

    </div>
</body>

</html>
