<html>
<title>Calendar Reminders</title>
<meta charset="utf-8">
<style>
    {% include "base.css" %}
</style>

<script>
{% include "base.js" %}

</script>

<body>
    {% include "sidebar.html.j2" %}

    <div id="content">

        <h1>Calendars</h1>

        {% for calendar in calendars %}
        <p>
        Name: {{ calendar.summary }}<br />
        Description: {{ calendar.description }}<br />
        ID: {{ calendar.id }}<br />
        </p>
        {% endfor %}

    </div>
</body>

</html>
