<html>
<title>Calendar Reminders</title>
<meta charset="utf-8">
<style>
    {% include "base.css" %}


    #login-box {
        border: 3px solid #a000a0;

        padding: 20px 50px;
        margin: 10px;
        border-radius: 10px;

        width: -moz-fit-content;
        width: fit-content;
        height: -moz-fit-content;
        height: fit-content;

        margin: auto;
    }

    #header {
        font-weight: bolder;
        font-size: 50px;
        color: #490549;
        border-bottom: 3px solid #5e075e;

        width: -moz-fit-content;
        width: fit-content;
        margin: 0 auto 30px auto;
    }

    #login-box input {
        margin: 5px;
    }

    input {
        font-size: large;
    }
</style>

<script>
{% include "base.js" %}

</script>

<body>
    <div id="login-box">
        <div id="header">C a l B O T</div>
        <div>
            <form action="/login" method="post">
                <input type="text" placeholder="Username" name="user_name" /></br />
                <input type="password" placeholder="Password" name="password" /><br />
                <input type="submit" value="Login" />
            </form>
        </div>
        {% if sso_name %}
        <hr />
        <div>
            <form action="/sso_redirect" method="get">
                <center><input type="submit" value="Login with {{ sso_name }} SSO" /></center>
            </form>
        </div>
        {% endif %}
    </div>

</body>

</html>
