<html>
<title>Calendar Reminders</title>
<meta charset="utf-8">
<style>
    {% include "base.css" %}

    form {
        max-width: 500px;
    }

    input[type="text"], input[type="number"] {
        width: 100%;
    }

    textarea {
        width: 100%;
        height: 30em;
    }
</style>

<script>
{% include "base.js" %}

function on_default_template_clicked() {
    let textarea = document.querySelector("#reminder-template");
    let checkbox = document.querySelector("#default-template");

    textarea.disabled = checkbox.checked;
}

window.addEventListener('load', on_default_template_clicked);

</script>

<body>
    {% include "sidebar.html" %}

    <div id="content">

        <div id="reminder-info">
            <h3>Reminder for {{ event.summary }}</h3>
            {% if form_state == "saved" %}
            Saved
            {% elif form_state == "deleted" %}
            Deleted
            {% endif %}
            <form method="post">
                {% if reminder %}<input type="hidden" name="reminder_id" value="{{ reminder.reminder_id }}" />{% endif %}
                <p>Minutes Before: <input type="number" name="minutes_before" value={{ reminder.minutes_before | default(value=30) }} /></p>
                <p>Room: <input type="text" name="room" placeholder="#room:example.com" {% if reminder %} value="{{ reminder.room }}" {% endif %} /></p>
                <p><label for="attendee_editable">Allow attendees to edit</label><input type="checkbox" name="attendee_editable" id="attendee_editable" {% if reminder and reminder.attendee_editable %} checked {% endif %} /></p>
                <p>Template: <label for="default-template">Use Default Template</label><input type="checkbox" name="use_default" onclick="on_default_template_clicked()" id="default-template" {% if not reminder or not reminder.template %} checked {% endif %} /></p>
                <textarea name="template" id="reminder-template">{{ reminder.template | default(value=default_template) | safe }}</textarea>
                {% if reminder %}
                <p>
                    <input type="submit" value="Update" formaction="/event/{{ calendar_id }}/{{ event.event_id }}/reminder"/>
                    <input type="submit" value="Delete" formaction="/event/{{ calendar_id }}/{{ event.event_id }}/delete_reminder" />
                </p>
                {% else %}
                <p><input type="submit" value="Add" formaction="/event/{{ calendar_id }}/{{ event.event_id }}/reminder"/></p>
                {% endif %}
            </form>
        </div>

    </div>
</body>

</html>
