<div id="sidebar">
    <div id="nav-header">C a l B O T</div>
    <ul>
        <li><a href="/events">Events</a></li>
        <li><a href="/calendars">Calendars</a></li>
        <li><a href="/reminders">Reminders</a></li>
        <hr />
        <li><a href="/change_password">Change Password</a></li>
        <li><a href="/change_matrix_id">Change Matrix ID</a></li>

    </ul>
    <footer>Your email address is <strong>{{ email }}</strong> - ask organisers
    to use this address in meeting requests.</footer>
</div>
